:root {
  --mainBlue: #2a2a72;
  --lightBlue: #009ffd;
  --mainWhite: #f3f3f3;
  --mainDark: #232528;
  --mainYellow: #ffa400;
}
body {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif !important ;
  background-color: var(--mainWhite) !important;
  color: var(--mainDark);
}
.text-title {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;

  text-transform: uppercase;
}
.text-blue {
  color: var(--mainBlue);
}
.text-birght {
  color: var(--lightBlue);
}
